@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Sarala', sans-serif;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(61,12,17,1) 10%, rgba(3,63,99,1) 54%, rgba(181,182,130,1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho-imagem {
    max-height: 120px;
    margin-right: 10px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    border: 0.2px solid #033f63;
    padding: 10px;
    background-color: #b5b682;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #033f63;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    color: #3d0c11;    
}

.conteudo {
    margin: 48px;
    border-top: 0.4px solid white;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #b5b682;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #b5b682;
}

.conteudo-principal-escrito-botao {
    background-color: #b5b682;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #3d0c11;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3d0c11;
}

.conteudo-principal-escrito-botao:hover {
    color:#b5b682;
    background-color: #033f63;
}

.conteudo-principal-imagem {
    max-height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    box-shadow: 4px 5px 60px #3d0c11;
    border-radius: 20px;
}

.conteudo-secundario-titulo {
    padding: 20px 0 0 0;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #b5b682;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
    padding: 0 20px 20px 20px;
    color: #b5b682;
}

    /*
    display: block;
    margin: 0 auto;

    Display e margin ajudam a alinhar elemento*/

.tech {
    height: 100px;
}

#rodape {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    border-top: 0.1px solid #ffffff;
    box-shadow: 4px 5px 60px #3d0c11;
    border-radius: 20px;
}

.border-r {
    border-right: 0.1px solid white;
}

div h3, li, p, img {
    padding-left: 10px;
    padding-right: 10px;
}

.div-rodape p {
    font-weight: 600;
}

.links, p {
    color: #033f63;
}

#rodape .div-rodape p, h3, ul {
    text-align: center;
}

#rodape .div-rodape p {
    width: 200px;
}

